<!DOCTYPE html>
<html>
<head>
	<title>Co-Authorship Pattern in Journal of Indonesia</title>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/material-icons/material-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gap.css') }}">
      {% if not error %}
        {{ js_resources|indent(4)|safe }}
        {{ css_resources|indent(4)|safe }}
        {{ plot_script|indent(4)|safe }}
      {% endif %}
</head>
<body>
	<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
	{% include 'navbar.html' %}
    <!-- <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper light-blue darken-4">
            <a href="{{ url_for('home') }}">
              <i class="material-icons left" style="padding-left:10px;">home</i>
              Co-Authorship Pattern in Journal of Indonesia
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                  <a href="{{ url_for('author') }}">Author</a>
                </li>
                <li>
                  <a href="{{ url_for('jurnal') }}">Journal</a>
                </li>
                <li>
                  <a href="{{ url_for('search_affiliation') }}">Affiliate</a>
                </li>
            </ul>
          </div>
        </nav>
      </div>
    </header> -->
    <br>
	<div class="container">
	<form action="{{ url_for('search_affiliation') }}" method="POST">
	  <div class="form-group">
	  	<input type="number" name="start_year" placeholder="Awal">
    	<input type="number" name="end_year" placeholder="Akhir">
	    <label for="search">Search</label>
	    <input type="text" class="form-control" placeholder="Masukkan Afiliasi" name="affiliation_name">
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
	<br>

	{% if error %}
	<div class="alert alert-danger" role="alert">
		{{ error }}
	</div>
	{% endif %}

	{% if rows_aff %}
	<br>
	<div class="table-responsive-sm">
	<table class="table" border="1">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Article_id</th>
	  		<th scope="col">Afiliasi</th>
  			<th scope="col">Author</th>
  			<th scope="col">Jurnal</th>
  			<th scope="col">Tahun</th>
		</tr>
	</thead>
	<tbody>
		{% for row in rows_aff %}
			<tr>
				<td>{{row[0]}}</td>
				<td>{{highlight(affiliation_name,row[1])|safe}}</td>
 				<td>{{row[2]}}</td>
 				<td>{{row[3]}}</td>
    			<td>{{row[4]}}</td>
			</tr>
		{% endfor %}
	</tbody>
	</table>
	<br>

	<h5>Tabel Co-Authorship pattern</h5>
  <table class="table table-bordered" border="1">
  <tr>
  {% for col in cols1 %}
    <th class="thead-dark" scope="col">{{ col }}</th>
  {% endfor %}
  </tr>  
  {% for index, row in rows1 %}
  <tr>
      {% for col in cols1 %}
       <td>{{ row[col] }}</td>
      {% endfor %}
  </tr>
  {% endfor %}
  <tr>
    <td><b>Total</b></td>
    <td>{{ sum1 }}</td>
  </tr>
  </table>
  

  <br>
  {{ plot_div|indent(4)|safe }}
  <br>

  <h5>Tabel TOP 10 Affiliate</h5>
  <table class="table table-bordered" border="1">
  <tr>
  {% for col in cols2 %}
    <th scope="col">{{ col }}</th>
  {% endfor %}
  </tr>  
  {% for index, row in rows2 %}
  <tr>
      {% for col in cols2 %}
       <td>{{ row[col] }}</td>
      {% endfor %}
  </tr>
  {% endfor %}
  </table>

	</div>
	{% endif %}

	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	</div>
</body>
</html>