<!DOCTYPE html>
<html>
<head>
	<title>Co-Authorship Pattern in Journal of Indonesia</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/material-icons/material-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gap.css') }}">
</head>
<body>
	<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
  {% include 'navbar.html' %}
</body>
</html>